# poetry self add poetry-bumpversion

[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core",
]

[tool]
[tool.poetry]
authors = ["eggplants <w10776e8w@yahoo.co.jp>"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: Implementation :: CPython",
]
description = "Generate ghcr.io container's status badge"
keywords = ["github-container-registry", "badge", "ghcr"]
name = "ghcr_badge"
packages = [{include = "ghcr_badge"}]
license = "MIT"
readme = "README.md"
repository = "https://github.com/eggplants/ghcr-badge"
version = "0.3.0"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
anybadge="^1.9.0"
flask="^2.1.2"
gunicorn=">=20.1,<22.0"
humanfriendly="^10.0"
requests="^2.28.0"
types-humanfriendly="^10.0"
types-requests="^2.28.0"
typing-extensions = "^4.5.0"

[tool.poetry.group.dev.dependencies]
mypy = ">=0.991,<1.5"
pre-commit = ">=2.20,<4.0"
taskipy = "^1.10.3"

[tool.poetry.scripts]
ghcr-badge-server = "ghcr_badge.server:main"
ghcr-badge = "ghcr_badge.main:main"

[tool.black]
line-length = 120
target-version = ['py39']

[tool.ruff]
select = ["ALL"]
ignore = [
  "D203", # no-blank-line-before-class
  "D213", # multi-line-summary-second-line
]
line-length = 120

[tool.ruff.mccabe]
max-complexity = 18

[tool.mypy]
pretty = true
python_version = "3.9"
show_error_codes = true
strict = true

[tool.djlint]
format_css=true
format_js=true
indent = 2
css.indent_size = 2
js.indent_size = 2

[tool.poetry_bumpversion.file."ghcr_badge/__init__.py"]

[tool.taskipy.tasks]
lint = "pre-commit run -a"
profile = "python -m cProfile"
dev = "flask --app ghcr_badge.server run --debug --reload"
